<div class="footer-wrapper">
  <div class="footer-content">
    <div class="address-container">
      <h1>Furniro.</h1>
      <h5>
        400 University Drive Suite 200<br />
        Coral Gables,<br />
        FL 33134 USA
      </h5>
    </div>
    <div class="footer-navigation">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Shop</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <ul>
        <li><a href="#">Help</a></li>
        <li><a href="#">Payment Options</a></li>
        <li><a href="#">Returns</a></li>
        <li><a href="#">Privacy Policies</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">2023 Furniro. All rights reserved</div>
</div>
