@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


:root {
  /* color variables */
  --gray-1: #ecf1f6;
  --black-1: #32445a;
  --black-2: #2f3540;
  /* font variables */
  --poppins: 'Poppins', sans-serif;
}